.EarthquakesPage {
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template: 50px 50px 1fr / 60% 40%;
}

.EarthquakesTitle {
    font-size: x-large;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    /* Brown 700 */
    color: #5D4037;
    grid-column: 1 / 3;
}

.EarthquakesFilters {
    /* Brown 700 */
    color: #5D4037;
    display: flex;
    align-items: center;
    margin: 0px 20px;
    grid-column: 1 / 3;
}

.MagnitudeContainer {
    margin-right: 20px;
}

.magnitudeInput {
    width: 40px;
    margin-left: 5px;
}

.SubmitButton {
    margin-left: 20px;
}

.LoadingMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.LoadingStatus {
    font-weight: 500;
    font-style: italic;
    margin-top: 20px;
}

.EarthquakesList {
    /* Brown 900 */
    color: #3E2723;
    display: flex;
    grid-row: 3/5;
    overflow: auto;
    padding: 10px;
    margin: 20px;
    /* Brown 700 */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.EarthquakesListItem {
    display: grid;
    margin-top: 5px;
    padding: 10px;
    /* Amber 300 */
    background-color: #FFD54F;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    cursor: pointer;
    grid-template: 1fr / 40% 60%
}

.EarthquakesListItem:hover {
    /* Amber A400 */
    background-color: #FFC400;
}

.EarthquakeListItemTitle {
    font-weight: bold;
    margin-right: 20px;
}

.EarthquakeListItemDate {
    display: flex;
    justify-content: right;
}

.EarthquakeDetails {
    /* Blue Gray 700 */
    color: #455A64;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    grid-row: 3 / 4;
    overflow: auto;
}

.DetailsIcons {
    display: flex;
    justify-content: right;
    margin: 10px 0px;
}

.DetailContainer {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    margin-bottom: 10px;
    border-bottom: 1px dotted #D7CCC8;
}

.DetailLabel {
    font-weight: bold;
}

.Detail {
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 1px dotted black;
}

.LastDetail {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.Icon:hover {
    cursor: pointer;
}

.Icon:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.MapIcon {
    margin-right: 5px;
}

.MapIcon:active {
    border-radius: 5px;
}

.WebPageIcon {
    margin-left: 5px;
    margin-right: 8px;
}

.PinIcon:active {
    border-radius: 5px;
}

@media (max-width: 930px) {
    .EarthquakesPage {
        grid-template: 50px 50px 1fr / 50% 50%;
    }
}

@media (max-width: 660px) {
    .EarthquakesPage {
        width: 100vw;
        height: 150vh;
        display: grid;
        grid-template: 50px 50px 1fr 1fr / 100%;
    }
    .EarthquakesTitle {
        font-size: large;
    }
    .EarthquakesList {
        grid-row: 3 / 4
    }
    .EarthquakeDetails {
        grid-row: 4 / 5;
    }
}