.App {
  text-align: center;
}

.NavBar ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  /*Brown 700*/
  background-color: #5D4037;
}

.NavBar ul a {
  color: #FFD54F;
  text-decoration: none;
  display: block;
  padding: 15px;
  margin: 0 5px;
}

.NavBar ul a:hover {
  text-decoration: underline;
}