.App {
  text-align: center;
}

.NavBar ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  /*Brown 700*/
  background-color: #5D4037;
}

.NavBar ul a {
  color: #FFD54F;
  text-decoration: none;
  display: block;
  padding: 15px;
  margin: 0 5px;
}

.NavBar ul a:hover {
  text-decoration: underline;
}

.Logo {
  animation: shake 2s;
  animation-iteration-count: infinite;
}

.Input {
  background: white;
  border-radius: 5px;
  /* Brown 700 */
  border: 1px solid #795548;
}

.Button {
  /* Brown 700 */
  background-color: #5D4037;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  cursor: pointer;
}

.Button:hover {
  /* Brown 900; */
  background-color: #3E2723;
}

.Button, .ResetButton:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.BoldText {
  font-weight: bold;
}

.ResetButton {
  /* Brown 900 */
  color: #3E2723;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  cursor: pointer;
}

.ResetButton:hover {
  /* Brown 100 */
  background-color: #D7CCC8;
}

.Footer {
  margin: 20px;
  font-size: small;
  text-align: center;
  color: black;
}

.EarthquakesPage {
  /* Brown 700 */
  color: #5D4037;
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template: 50px 50px 1fr / 6fr 4fr;
}

.EarthquakesTitle {
  font-size: x-large;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  grid-column: 1 / 3;
}

.EarthquakesFilters {
  display: flex;
  align-items: center;
  margin: 0px 20px;
  grid-column: 1 / 3;
  font-weight: 500;
}

.MagnitudeContainer {
  margin-right: 20px;
}

.magnitudeInput {
  width: 40px;
  margin-left: 5px;
}

.LastButton {
  margin-left: 20px;
}

.LoadingMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: max-content;
}

.LoadingStatus {
  font-weight: 500;
  font-style: italic;
  margin-top: 20px;
}

.EarthquakesList {
  /* Brown 900 */
  color: #3E2723;
  grid-row: 3 / 5;
  overflow: auto;
  padding: 10px;
  margin: 20px;
  /* Brown 700 */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.Status {
  font-weight: 500;
  font-style: italic;
  margin-bottom: 20px;
}

.EarthquakesListItem {
  display: grid;
  margin-top: 5px;
  padding: 10px;
  /* Amber 300 */
  background-color: #FFD54F;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  cursor: pointer;
  grid-template: 1fr / 4fr 6fr;
}

.EarthquakesListItem:hover {
  /* Amber A400 */
  background-color: #FFC400;
}

.EarthquakeListItemTitle {
  font-weight: bold;
  margin-right: 20px;
}

.EarthquakeListItemDate {
  display: flex;
  justify-content: right;
}

.EarthquakeDetails {
  /* Blue Gray 700 */
  color: #455A64;
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
  grid-row: 3 / 4;
  overflow: auto;
}

.DetailsIcons {
  display: flex;
  justify-content: right;
  margin: 10px 0px;
}

.DetailContainer {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  margin-bottom: 10px;
  border-bottom: 1px dotted #D7CCC8;
}

.DetailLabel {
  font-weight: bold;
}

.Detail {
  margin-top: 5px;
  margin-bottom: 10px;
  border-bottom: 1px dotted black;
}

.LastDetail {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.NoDetailsMessage {
  margin-top: 20px;
  font-size: small;
}

.AboutPage {
  /* Brown 900 */
  color: #3E2723;
  margin: 20px;
  position: relative;
}

.AboutParagraph {
  line-height: 1.5;
  margin-bottom: 20px;
  text-indent: 10px;
}

.CommentsFormTitle {
  font-weight: bold;
  font-style: italic;
  margin: 20px 0px;
}

.CommentsForm {
  display: flex;
  flex-direction: column;
}

.CommentsInput {
  margin-bottom: 20px;
}

.CommentsTextInput {
  width: 30%;
}

.CommentsTextAreaInput {
  width: 60%;
  height: 300px;
}

.CommentsFormButtonsContainer{
  margin-bottom: 20px;
}

.Icon:hover {
  cursor: pointer;
}

.Icon:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.MapIcon {
  margin-right: 5px;
}

.MapIcon:active {
  border-radius: 5px;
}

.WebPageIcon {
  margin-left: 5px;
  margin-right: 8px;
}

.PinIcon:active {
  border-radius: 5px;
}

.Background {
  position: relative;
}

.Background:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url('./images/earthquakeBackground.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@media (max-width: 930px) {
  .EarthquakesPage {
    grid-template: 50px 50px 1fr / 1fr 1fr;
  }
  .CommentsTextInput {
    width: 60%;
  }
  .CommentsTextAreaInput {
    width: 80%;
  }
}

@media (max-width: 660px) {
  .EarthquakesPage {
    width: 100%;
    height: 150vh;
    display: grid;
    grid-template: 50px 50px 1fr 1fr / 1fr;
  }
  .EarthquakesTitle {
    font-size: large;
  }
  .EarthquakesList {
    grid-row: 3 / 4
  }
  .EarthquakeDetails {
    grid-row: 4 / 5;
  }
  .CommentsTextInput {
    width: 100%;
  }
  .CommentsTextAreaInput {
    width: 100%;
  }
}